
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;

    margin-top: 400px;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

@media (max-width: 767px) {
    .full {
        background: url('message_sent.jpg') center center / cover no-repeat;

    }
    .content{
        font-size: 8px;
        bottom: 50%;
        position: inherit;

    }
 
    #myVideo {
        display: none;
    }
}
